.example-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 2px 2px 2px 2px;
    padding: 10px;
    top: 120px;
    height: 60%;

    .login-icon {
        text-align: center;
        display: block;
    }

    .login-icon {
        img {
            width: 200px;
        }
    }

    .example-button-row {
        display: inherit;
        button {
            margin-right: 8px;
        }
    }

    .mat-spinner-icon {
        padding-left: 10px;
        padding-top: 5px;
    }
  }
  