.example-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 2px 2px 2px 2px;
    padding: 10px;
    top: 120px;

    .login-icon {
        text-align: center;
        display: block;
    }

    .login-icon {
        img {
            width: 200px;
        }
    }

    .example-button-row {
        button {
            margin-right: 8px;
        }
    }
  }
  
  .example-container > * {
    width: 100%;
  }
  