<div class="example-container">
  <div class="login-icon">
    <img src="../../assets/images/loginImage.png" alt="Login Icon">
  </div>
  <mat-form-field>
    <input matInput placeholder="User Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password">
  </mat-form-field>

  <div class="example-button-row">
    <button mat-raised-button color="warn" (click)="cancelLogin()">Cancel</button>
    <button mat-raised-button color="primary" (click)="loginUser()" [disabled]="showProgressSpinner">Login</button>
    <div class="mat-spinner-icon" *ngIf="showProgressSpinner"> 
        <mat-spinner [diameter]="25"></mat-spinner>
    </div>
  </div>
</div>